
.error {
    -fx-text-fill: -tl-text-error !important; /* The error class should always override the default text-fill style */
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: -tl-accent;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: -tl-text-body;
}
